In [22]:
import pandas as pd

In [23]:
import numpy as np

In [24]:
df = pd.read_csv('shop-data.csv')

In [25]:
print("Original dataset:")
print(df.head())

Original dataset:
  Transaction_ID Customer_Name Product_ID  Quantity  Sale_Amount Purchase_Date
0          T1001      John Doe       P102         1         50.0    2023-05-12
1          T1002           NaN       P101         2        100.0    05/12/2023
2          T1003    Jane Smith       P103         1        -50.0    12-05-2023
3          T1004      John Doe       P101         1      20000.0    2023/05/13
4          T1002           NaN       P101         2        100.0    05/12/2023

In [26]:
print(f"Original shape: {df.shape}")

Original shape: (24, 6)

In [27]:
df.describe()

        Quantity   Sale_Amount
count  24.000000     24.000000
mean    1.875000   2231.250000
std     1.075922   7167.367361
min     1.000000    -75.000000
25%     1.000000     93.750000
50%     2.000000    137.500000
75%     2.000000    262.500000
max     5.000000  30000.000000

In [28]:
df = df.dropna(subset=['Customer_Name'])

In [29]:
df = df.drop_duplicates(subset=['Transaction_ID'], keep='first')

In [30]:
df['Purchase_Date'] = pd.to_datetime(df['Purchase_Date'], format='mixed', errors='coerce')

In [31]:
df = df[df['Sale_Amount'] >= 0]

In [32]:
upper_limit = df['Sale_Amount'].quantile(0.99)

In [33]:
df = df[df['Sale_Amount'] <= upper_limit]

In [34]:
df = df[df['Product_ID'].str.match(r'^P\d+$', na=False)]

In [35]:
df.to_csv('cleaned_shop_data.csv', index=False)

In [36]:
print(f"Original number of records: {len(pd.read_csv('shop-data.csv'))}")

Original number of records: 24

In [37]:
print(f"Number of records after cleaning: {len(df)}")

Number of records after cleaning: 19

In [38]:
print(f"Number of records removed: {len(pd.read_csv('shop-data.csv')) - len(df)}")

Number of records removed: 5

In [39]:
print("\nSummary statistics of cleaned data:")
print(df.describe())

Summary statistics of cleaned data:
        Quantity   Sale_Amount                  Purchase_Date
count  19.000000     19.000000                             19
mean    1.947368   1235.526316  2023-05-21 10:06:18.947368448
min     1.000000     50.000000            2023-05-12 00:00:00
25%     1.000000    100.000000            2023-05-15 12:00:00
50%     2.000000    150.000000            2023-05-22 00:00:00
75%     2.500000    275.000000            2023-05-26 12:00:00
max     5.000000  20000.000000            2023-05-31 00:00:00
std     1.177270   4545.986598                            NaN

In [40]:
print("\nMissing values in cleaned data:")
print(df.isnull().sum())

Missing values in cleaned data:
Transaction_ID    0
Customer_Name     0
Product_ID        0
Quantity          0
Sale_Amount       0
Purchase_Date     0
dtype: int64